.container.nav{
    margin-top:10px;
    font-size: 18px;
    text-align:center;
}
.container.nav .wrapper .ui-g .ui-g-2:hover{
    margin-left: -2px;
    background-color: #AAA;
}

.container.nav .wrapper .ui-g .ui-g-2{
    overflow:wrap;
    text-overflow:ellipsis;
}