<div class="container nav">
    <div class="wrapper">
        <div class="ui-g">
            <div class="ui-g-2 navbutton">Portal</div>
            <div class="ui-g-2 navbutton">Forum</div>
            <div class="ui-g-2 navbutton">Chat</div>
            <div class="ui-g-2 navbutton">Dynlink1</div>
            <div class="ui-g-2 navbutton">DynLink2</div>
            <div class="ui-g-2 navbutton">Logout</div>
        </div>
    </div>
</div>