body {
    background: #555;
    color: #555555;
}
.container{
    background:#DDD;
    width: 90%;
    margin-top:10px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px; 
    display:block;
    box-shadow: -2px 2px #333;
}
.container .wrapper{
    height:100%;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right:2px;
}

