
.container .categoryttilewrapper .content  #title{
    font-size: larger;
}

.container .categoryttilewrapper .content #description{
    font-style: oblique;
    margin-left: 15px;
}


.container .categoryforumwrapper .content {
    background:#CCC;
    height:50px;
}

.container .categoryforumwrapper .tag {
    background:#CCC;
    height:50px;
    border-right-style: solid;
    border-color: #ACACAC;
    border-width: 1px;
    border-left-style: solid;
    border-left-width:1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:  10px;
}
.container .categoryforumwrapper {
    background:#CCC;
    width:99%;
    height:50px;
    margin-left: 1px;
    margin-right: 3px;
    margin-bottom: 5px;
    box-shadow: -2px 2px #AAA;
}
.container .categoryforumwrapper .info {
    background:#CCC;
    height:50px;
    border-left-style: solid;
    border-color: #ACACAC;
    border-width: 1px;
    border-right-style: solid;
    border-right-width:1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:  10px;
}

#forum{
    width:100%
}