<div *ngFor="let category of categoryList" class="container">
	<div class="wrapper">
		<div class="ui-g">
			<div class="ui-g-12 ui-g-nopad">
				<div class="categoryttilewrapper">
					<div class="ui-g-12 content"><span id="title">{{category.Title}}</span><br />
						<span id="description" style="">{{category.Description}}</span></div>
				</div>
			</div>
			<fg-bar-board id="forum" [(catid)]="category.ID" ></fg-bar-board>
		</div>
	</div>
</div>




