<div class="container wrapper">
	<div class="ui-g-12 ui-g-nopad">
		<div class="categoryttilewrapper">
			<div class="ui-g-12 content"><span id="title">Board Title</span>
		</div>
	</div>
	<div *ngFor="let topic of topicList" (click)="click(board.ID)">
		<div class="categoryforumwrapper">
			<div class="ui-g">
				<div class="ui-g-1 tag"></div>
				<div class="ui-g-8 content">
					<span id="title">{{topic.Title}}</span><br />
				</div>
				<div class="ui-g-3 info">
					<span id="lastPostTitle">Last Post: Ban Greenthumb he's a hacker!</span><br />
					<span id="lastPostAuthor">Posted by: Techy</span> <span id="lastPostTime">Tuesday 11:05 </span>
				</div>
			</div>
		</div>
	</div>
</div>