
<div *ngFor="let board of boardList" (click)="click(board.ID)">
	<div class="categoryforumwrapper">
		<div class="ui-g">
			<div class="ui-g-1 tag"></div>
			<div class="ui-g-8 content">
				<span id="title">{{board.Title}}</span><br />
				<span id="description" style="">{{board.Description}}</span>
			</div>
			<div class="ui-g-3 info">
					<span id="lastPostTitle">Last Post: Ban Greenthumb he's a hacker!</span><br />
					<span id="lastPostAuthor">Posted by: Techy</span> <span id="lastPostTime">Tuesday 11:05 </span>
			</div>
		</div>
	</div>
</div>
