
 .categoryforumwrapper .content {
    background:#CCC;
    height:50px;
}

 .categoryforumwrapper .content #description {
     font-style: italic;
     margin-left:15px;
}


 .categoryforumwrapper .tag {
    background:#CCC;
    height:50px;
    border-right-style: solid;
    border-color: #ACACAC;
    border-width: 1px;
    border-left-style: solid;
    border-left-width:1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:  10px;
}
 .categoryforumwrapper {
    background:#CCC;
    width:99%;
    height:50px;
    margin-left: 1px;
    margin-right: 3px;
    margin-bottom: 5px;
    box-shadow: -2px 2px #AAA;
    border-radius:10px;
}

 .categoryforumwrapper:hover {

    box-shadow: 1px 1px 1px 1px #222;

}

 .categoryforumwrapper .info {
    font-size: x-small;
    background:#CCC;
    height:50px;
    border-left-style: solid;
    border-color: #ACACAC;
    border-width: 1px;
    border-right-style: solid;
    border-right-width:1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:  10px;
    padding-top:10px;
    padding-bottom:10px;
}