<div class="container header" >
    <div class="wrapper">
        <div class="ui-g">
            <div class="ui-g-2">
                <div id="logoboxwrapper">
                    <div id="logobox">
                    </div>
                </div>
            </div>
            <div class="ui-g-10 ui-g-nopad">
                <div id="titlewrapper">
                    <div class="ui-g-12 content"><span id="title">{{header.Title}}</span></div>
                    <div class="ui-g-12 content"><span id="subtitle">{{header.Subtitle}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>