.container.header{
    height:120px;
}
.container #logobox {
    height: 100%;
    width: 100%;
    max-width: 100px;
    overflow:hidden;
    margin:auto;
    background-color: #EEEEEE;
    box-shadow: -2px 2px #AAA;
}
.container #logoboxwrapper{
    margin:5px 5px 5px 5px;
    margin-right:auto;
    margin-left:auto;
    height: 100%;
    width: 100%;
}
.container #titlewrapper{
    margin-top:12px;
    height: 100%;
    width: 100%;
}

.container .content #title{
    font-size: 32px;
}
.container .content #subtitle{
    font-size: 20px;
    margin-left: 40px;
}